# from https://raw.githubusercontent.com/ddgksf2013/Scripts/master/iqiyi_open_ads.js

hostname=*cupid.iqiyi.com

# ～ 爱奇艺（2023-03-17）@ddgksf2013
^https?:\/\/.*cupid\.iqiyi\.com\/mixer\? url script-response-body https://github.com/ddgksf2013/Scripts/raw/master/iqiyi_open_ads.js