# from https://raw.githubusercontent.com/ddgksf2013/Rewrite/master/AdBlock/WeChat.conf

hostname = mp.weixin.qq.com
# > 微信去广告[不包含公众号信息流AD、朋友圈AD][推荐开启青少年模式可去除朋友圈AD]
^https?:\/\/mp\.weixin\.qq\.com\/mp\/getappmsgad url response-body advertisement response-body ddgksf2013